                                                                                                Hurgland-Nick KELIET

### Skills added :  
 >- Discovery of the dataset "academy_awards.csv"
 >- Use SQlite database
 >- Filter the data
 >- Clean columns
 >- Export to SQLite

                                       Prepare the data for SQLITE

# Discovery of the dataset

In [1]:
import pandas as pd
import pandas_profiling as pp
import sqlite3

df = pd.read_csv('academy_awards.csv',encoding ='ISO-8859-1')

In [2]:
# Overview of the csv.
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# See if we can delete the columns unnamed, see if there's no importante values for every column.
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [4]:
# Dimension
df.shape

(10137, 11)

# Filter the data

In [5]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [6]:
# Part year in two columns, we take the first 4 item
df['Year'] = df['Year'].str[0:4]

In [7]:
# type of columns
df['Year'].dtypes

dtype('O')

In [8]:
# We can see that Year isn't in Integer
# Now we will convert Year in Integer
df['Year'] = df['Year'].astype(int)
df['Year'].dtypes

dtype('int32')

In [9]:
# Keep data where year > 2000
later_than_2000 = df[df['Year'] > 2000]

In [10]:
# Show that new variable
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Dimension 
later_than_2000.shape

(1294, 11)

In [12]:
# Actor -- Leadind Role
# Actor -- Supporting Role
# Actress -- Leadind Role
# Actress -- Supporting Role
awards_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role' , 
                     'Actress -- Leading Role' ,'Actress -- Supporting Role']

In [13]:
# Filter easily
nominations = later_than_2000[later_than_2000["Category"].isin(awards_categories)]

In [14]:
# Dimension
nominations.shape

(200, 11)

In [15]:
display(nominations)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1172,2001,Actress -- Supporting Role,Jennifer Connelly,A Beautiful Mind {'Alicia Nash'},YES,NaN,NaN,NaN,NaN,NaN,NaN
1173,2001,Actress -- Supporting Role,Helen Mirren,Gosford Park {'Mrs. Wilson'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1174,2001,Actress -- Supporting Role,Maggie Smith,"Gosford Park {'Constance, Countess of Trentham'}",NO,NaN,NaN,NaN,NaN,NaN,NaN
1175,2001,Actress -- Supporting Role,Marisa Tomei,In the Bedroom {'Natalie Strout'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1176,2001,Actress -- Supporting Role,Kate Winslet,Iris {'Young Iris Murdoch'},NO,NaN,NaN,NaN,NaN,NaN,NaN

# Clean the Unnamed and Won columns

In [16]:
# Let's create a dictionary to replace "NO" ET "YES" respectively by 0 & 1
replacements = {"NO":0,"YES":1}

In [17]:
nominations['Won?'] = nominations['Won?'].map(replacements)

J:\Anaconda\envs\dataScience\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
nominations.head(30)

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,Actor -- Supporting Role,Christian Bale,The Fighter {'Dicky Eklund'},1,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,Actor -- Supporting Role,John Hawkes,Winter's Bone {'Teardrop'},0,NaN,NaN,NaN,NaN,NaN,NaN
7,2010,Actor -- Supporting Role,Jeremy Renner,The Town {'James Coughlin'},0,NaN,NaN,NaN,NaN,NaN,NaN
8,2010,Actor -- Supporting Role,Mark Ruffalo,The Kids Are All Right {'Paul'},0,NaN,NaN,NaN,NaN,NaN,NaN
9,2010,Actor -- Supporting Role,Geoffrey Rush,The King's Speech {'Lionel Logue'},0,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,Actress -- Leading Role,Annette Bening,The Kids Are All Right {'Nic'},0,NaN,NaN,NaN,NaN,NaN,NaN
11,2010,Actress -- Leading Role,Nicole Kidman,Rabbit Hole {'Becca'},0,NaN,NaN,NaN,NaN,NaN,NaN
12,2010,Actress -- Leading Role,Jennifer Lawrence,Winter's Bone {'Ree'},0,NaN,NaN,NaN,NaN,NaN,NaN
13,2010,Actress -- Leading Role,Natalie Portman,Black Swan {'Nina Sayers/The Swan Queen'},1,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,Actress -- Leading Role,Michelle Williams,Blue Valentine {'Cindy'},0,NaN,NaN,NaN,NaN,NaN,NaN
15,2010,Actress -- Supporting Role,Amy Adams,The Fighter {'Charlene Fleming'},0,NaN,NaN,NaN,NaN,NaN,NaN
16,2010,Actress -- Supporting Role,Helena Bonham Carter,The King's Speech {'Queen Elizabeth'},0,NaN,NaN,NaN,NaN,NaN,NaN
17,2010,Actress -- Supporting Role,Melissa Leo,The Fighter {'Alice Ward'},1,NaN,NaN,NaN,NaN,NaN,NaN
18,2010,Actress -- Supporting Role,Hailee Steinfeld,True Grit {'Mattie Ross'},0,NaN,NaN,NaN,NaN,NaN,NaN
19,2010,Actress -- Supporting Role,Jacki Weaver,Animal Kingdom {'Janine 'Smurf' Cody'},0,NaN,NaN,NaN,NaN,NaN,NaN
135,2009,Actor -- Leading Role,Jeff Bridges,Crazy Heart {'Bad Blake'},1,NaN,NaN,NaN,NaN,NaN,NaN
136,2009,Actor -- Leading Role,George Clooney,Up in the Air {'Ryan Bingham'},0,NaN,NaN,NaN,NaN,NaN,NaN
137,2009,Actor -- Leading Role,Colin Firth,A Single Man {'George'},0,NaN,NaN,NaN,NaN,NaN,NaN
138,2009,Actor -- Leading Role,Morgan Freeman,Invictus {'Nelson Mandela'},0,NaN,NaN,NaN,NaN,NaN,NaN
139,2009,Actor -- Leading Role,Jeremy Renner,The Hurt Locker {'Staff Sergeant William James'},0,NaN,NaN,NaN,NaN,NaN,NaN
140,2009,Actor -- Supporting Role,Matt Damon,Invictus {'Francois Pienaar'},0,NaN,NaN,NaN,NaN,NaN,NaN
141,2009,Actor -- Supporting Role,Woody Harrelson,The Messenger {'Captain Tony Stone'},0,NaN,NaN,NaN,NaN,NaN,NaN
142,2009,Actor -- Supporting Role,Christopher Plummer,The Last Station {'Tolstoy'},0,NaN,NaN,NaN,NaN,NaN,NaN
143,2009,Actor -- Supporting Role,Stanley Tucci,The Lovely Bones {'George Harvey'},0,NaN,NaN,NaN,NaN,NaN,NaN
144,2009,Actor -- Supporting Role,Christoph Waltz,Inglourious Basterds {'Col. Hans Landa'},1,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Let's create a new colonne named Won without question mark
nominations['Won'] = nominations['Won?']

J:\Anaconda\envs\dataScience\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
# Show nomination
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [21]:
# Deleted unused columns
# List with columns to delete
drop_cols = ["Won?","Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"]

In [22]:
final_nominations = nominations.drop(drop_cols, axis = 1)
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

# Clean Additionnal info columns

In [23]:
# Film {'PERSONNAGE'}

# Biutiful {'Uxbal'}
# The Social Network --> Mark Zuckerberg'
# Clean column

In [24]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")

In [25]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [26]:
# Part the name of film and the actor
additional_info_two = additional_info_one.str.split(" {'", expand = True)

In [27]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [28]:
movie_names =  additional_info_two[0]
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [29]:
Characters = additional_info_two[1]
Characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [30]:
# ADD movie_names & Characters on final_nomination
final_nominations["Movie"] = movie_names
final_nominations["Character"] = Characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [31]:
# Drop Additional Info column
final_nominations.drop(["Additional Info"], axis = 1, inplace = True)

In [32]:
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

# Export to SQLite

In [33]:
# to_sql(name, connexion)

In [34]:
final_nominations.dtypes

Year          int32
Category     object
Nominee      object
Won           int64
Movie        object
Character    object
dtype: object

In [35]:
# Let's create a database
connection = sqlite3.connect('nomination.db')

In [36]:
final_nominations.to_sql('nomination',connections,  if_exists = 'replace', index = False)

NameError: name 'connections' is not defined

                                                                                                                END